.godot/

.import/
export.cfg

export_presets.cfg

/build/
/builds/
/export/
/exports/
*.pck
*.apk
*.aab
*.ipa

/android/

/.mono/
/data_*/
/obj/
/bin/
*.user
*.userprefs

.backstitch/

.jj/

/addons/backstitch/

*.pdb

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*

*~
.directory
.Trash-*
.nfs*

.vs/
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej

.env
.env.local
*.local
/local/
